__pycache__/
.pytest_cache/
*.pyc
*.pyo
*.pyd
README.md/
venv/
*.venv
logs/
*.log
.git/
.github/
mlartifacts/
mlruns/
tests/
notebook/
.vscode/
.idea/
*.swp
vectorstore/
ui/
scripts/
.DS_Store
Thumbs.db

