pandas 
langchain-groq 
langchain-community
langchain
langchain-huggingface
sentence-transformers
langchain_pinecone
python-dotenv
python-multipart
fastapi
pydantic
uvicorn[standard]
jinja2
pytest
mlflow

